.container {
  text-align: center;
  padding: 40px 20px;

}

.trekList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 20px; 
  margin-top: 20px;
  
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form h2 {
  margin-top: 0;
  text-align: center;
}

.form label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.form button {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color:  #8B0000;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .trekList {
    flex-direction: column;
    align-items: center;
  }
}