.card {
  background: white;
  border-radius: 8px; 
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}

.imageContainer {
  position: relative;
  cursor: pointer;
  height: 256px; 
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer:hover .imageOverlay {
  opacity: 0.4;
}

.overlayText {
  color: white;
  font-size: 1.125rem;
  font-weight: 600; 
  border-radius: 99px; 
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 16px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.imageContainer:hover .overlayText {
  opacity: 1;
}

.content {
  padding: 24px; 
  flex-grow: 1;
}

.content h5 {
  font-size: 1.5rem; 
  font-weight: 700; 
  color: black; 
  margin-bottom: 8px; 
}

.content p {
  color: #4b5563; 
  margin-bottom: 16px;
}

.location {
  font-size: 0.875rem; 
  color: #374151; 
  font-weight: 500; 
}

.footer {
  padding: 24px; 
  background-color: #f9fafb; 
}

.learnMoreButton {
  color: #8B0000;
  font-weight: 600; 
  background: none;
  border: none;
  cursor: pointer;
}

.learnMoreButton:hover {
  color: #8B0000;
}