.footer {
  background-color: #212121;
  color: white;
  padding: 50px 20px;
}

.footercontainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.column {
  flex: 1;
  min-width: 200px;
}

.column h3 {
  margin-top: 0;
  color:#8B0000;
}

.column a {
  color: #bdc3c7;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.2s;
}

.column a:hover {
  color: white;
}
@media (max-width: 768px) {
  .footercontainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    text-align: left;
    padding: 40px 20px;
  }
}


