.section {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 80px 40px;
  background-color: #f9f9f9;
  flex-wrap: wrap; 
}

.textColumn {
  flex: 1;
  min-width: 300px;
}

.imageColumn {
  flex: 1;
  position: relative; 
  min-height: 450px;
}

.primaryImage {
  border-radius: 8px;
}

.secondaryImage {
  position: absolute;
  bottom: -30px; 
  left: -50px;
  width: 220px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  border: 5px solid white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.title {
  font-size: 2.5rem;
  margin-top: 0;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #8B0000; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    gap: 40px;
  }

  .imageColumn {
   display: flex;
   flex-direction: column;
   height: auto;
   gap: 20px;
   width: 100%;
   margin-top: 20px;
  }

  .imageWrapperMain{
    position: relative;
    width: 100%;
    height: 300px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    border: none; 
  }

  .secondaryImage {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: 250px;
    margin: 0;
    border: none;
  }
}