
.heroContainer {
  position: relative;
  width: 100%;
  height: 600px;
 
}
.heroImage {
    object-fit: cover;
}

@media (min-width: 768px) {
  .heroContainer {
    height:650px;
  }
}

.textContainer {
  background-color: #fff;
  padding: 10px 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em; 
  color: #222; 
}

.description {
  max-width: 900px;
  margin: 16px auto 0 auto; 
  text-align: center;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

