.guide {
  background-color: #f9f9f9;
  text-align: center;
  padding: 50px 20px;
}

.button {
  background-color: #8B0000;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.cardLink {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}